<table class="table table-hover">
    <thead class="bg-dark text-white">
        <tr>
            <td></td>
            <td>Name</td>
            <td>Price</td>
            <td>Units in Stock</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tempProduct of products" class="align-middle">
            <td >
                <img src="{{tempProduct.imageUrl}}" height="50" alt="no avialble">
            </td>
            <td>{{tempProduct.name}}</td>
            <td>{{tempProduct.unitPrice | currency:'USD'}}</td>
            <td>{{tempProduct.unitsInStock}}</td>
        </tr>
    </tbody>
</table>